<div ng-show="login" class="row" style="padding:50px;">
<div class="col-md-12 text-center">
<div class="step-on"><i class="fa fa-lightbulb-o fa-4x"></i><br/><b>Concept</b></div><div class="line-on"></div><div class="step-on"><i class="fa fa-group fa-4x"></i><br/><b>Influencers</b></div><div class="line-off"></div><div class="step-off"><i class="fa fa-money fa-4x"></i><br/><b>Payment</b></div><div class="line-off"></div><div class="step-off"><i class="fa fa-check fa-4x"></i><br/><b>Summary</b></div>
</div>

<div class="col-md-12"><h1>Select Influencers</h1></div>
<div class="col-md-12">
<div style="padding:10px; border-radius:5px;" class="{{done}}" ng-show="done"><p>{{status}}</p></div>
<form role="form" name="newAd"  ng-submit="saveCampaignInfluencers()">
	<div class="form-group">
	<label for="AdTag">The Advertising Tag </label> <span class="text-primary padsm"> #{{campaign.name}} </span> 
	<br/><br/>
	<label for="AdTag">Campaign Description</label> <span class="text-primary padsm"> {{campaign.description}} </span> 
	</div>
	
	<div class="form-group">
							<label for="Interests"> Select Influencers Interests.</label><br/>
						        
						        <div ng-repeat="item in editinterests" class="interests">
						        <input type="checkbox" ng-model="checkStatus" 
						        		ng-init="checkStatus = editcheckIfChecked(item)"
						        		ng-click="updateInterest(item, checkStatus)"><span class="icon-{{checkStatus}}"> <i class="fa {{item.icon}} fa-2x"></i> {{item.name}} </span></div>
						        
						    </div>
    
    <div class="form-group">
	<label for="Start">Start Date Of Campaign</label> <span class="text-primary padsm"> {{campaign.startdate}} </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<label for="End">End Date Of Campaign</label> <span class="text-primary padsm"> {{campaign.enddate}} </span>	
	</div>
	<br/><br/>
	<button class="btn btn-lg btn-primary" type="submit"> Save Influencers and continue </button> <a href="/create-campaign/payment"><button ng-show="influnext" class="btn btn-lg btn-success" type="button"> Next </button></a>
	<a href="/draft-campaigns"><button class="btn btn-lg btn-success" type="button"> Back </button></a>
</form>
</div>
</div> 

<div ng-show="login" class="row" style="padding:50px;">
<div class="col-md-12">
<div class="col-md-3 btn-success text-center pad10"><h3>Influencers</h3></div> 
<div class="col-md-3 bg-primary text-center pad10"><h3>Followers</h3></div>
<div class="col-md-3 btn-success text-center pad10"><h3>Post</h3></div>
<div class="col-md-3 bg-primary text-center pad10"><h3>Participation Price</h3></div>

<div class="col-md-3 btn-warning text-center pad10"><h1>{{selInfluencers.length}}</h1></div> 
<div class="col-md-3 btn-info text-center pad10"><h1>{{sumFollowers}}</h1></div>
<div class="col-md-3 btn-warning text-center pad10"><h1>1</h1></div>
<div class="col-md-3 btn-info text-center pad10"><h1>{{sumPrice}}</h1></div>
</div>
<div class="col-md-12 pad5"></div>
<div class="col-md-12">
<div class="col-md-6 border1 pad10" ng-repeat="influencer in influencers">
<div class="col-md-3 text-left">
<img ng-src="{{checkurl(influencer.profile_picture)}}" width="100px">
<label>{{influencer.full_name}}</label><br>
<label>Participation Price : {{influencer.value}}</label><br/>
<label><i class="fa fa-users"></i> Followers : {{influencer.followers}}</label></br>
<label><i class="fa fa-comment"></i> Comments : {{influencer.comments}}</label><br/>
<label><i class="fa fa-thumbs-up"></i> Likes : {{influencer.likes}}</label><br/>
<input  class="range{{influencer.selInfu}}" tabIndex="-1" type=range min=0 max=1  ng-init="influencer.selInfu=checkInfluencer(influencer)" ng-model="influencer.selInfu" ng-click="updateSummary(influencer)" >
</div>
<div class="col-md-9 text-center pad5">
<div class="col-md-2 pad5" ng-repeat="url in medias[influencer.instagram_id]"><img ng-src="{{url}}" width="80px"></div>
</div>
</div>
</div>
</div>	
			    	