<div ng-show="login" class="row" style="padding:50px;">
<div class="col-md-8 text-center">
<div class="step-on"><i class="fa fa-lightbulb-o fa-4x"></i><br/><b>Concept</b></div><div class="line-on"></div><div class="step-on"><i class="fa fa-group fa-4x"></i><br/><b>Influencers</b></div><div class="line-on"></div><div class="step-on"><i class="fa fa-money fa-4x"></i><br/><b>Payment</b></div><div class="line-off"></div><div class="step-off"><i class="fa fa-check fa-4x"></i><br/><b>Summary</b></div>
</div>
<div class="col-md-4"></div>

<div class="col-md-12"><h1>Select Payment Method</h1></div>
<div class="col-md-8">
<div style="padding:10px; border-radius:5px;" class="{{done}}" ng-show="done"><p>{{status}}</p></div>
<form role="form" name="newAd"  ng-submit="saveCampaignPayment()">
	<div class="form-group">
	<label for="AdTag">The Advertising Tag </label> <span class="text-primary padsm"> #{{campaign.name}} </span> 
	<br/><br/>
	<label for="AdTag">Campaign Description</label> <span class="text-primary padsm"> {{campaign.description}} </span> 
	</div>
    <div class="form-group">
	<label for="Start">Start Date Of Campaign</label> <span class="text-primary padsm"> {{campaign.startdate}} </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<label for="End">End Date Of Campaign</label> <span class="text-primary padsm"> {{campaign.enddate}} </span>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
	</div>	
	<div class="form-group">
	<label for="Start">Influencers : </label> <span class="text-primary padsm"> {{campaign.influencers.length}} </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<label for="Start">Participation Price : </label> <span class="text-primary padsm"> {{campaign.price}} </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
	<div class="form-group" ng-init="campaign.payment=campaign.payment">
	<label for="Start">Payment Method</label> 
	<input type="radio" name="payment-type" ng-model="campaign.payment" value="0"> Invoice
	<input type="radio" name="payment-type" ng-model="campaign.payment" value="1"> Creditcard
	<input type="radio" name="payment-type" ng-model="campaign.payment" value="2"> Paypal
	</div>
	<button class="btn  btn-lg btn-primary" type="submit"> Save Payment and continue </button> <a href="/create-campaign/summary"><button ng-show="paynext" class="btn btn-lg btn-success" type="button"> Next </button></a>
	<a href="/create-campaign/influencers"><button class="btn btn-lg btn-success" type="button"> Back </button></a>
</form>
</div>  
<div class="col-md-4"></div>
</div>					    	