<div ng-show="login" class="row" style="padding:50px;">
<div class="col-md-8 text-center">
<div class="step-on"><i class="fa fa-lightbulb-o fa-4x"></i><br/><b>Concept</b></div><div class="line-off"></div><div class="step-off"><i class="fa fa-group fa-4x"></i><br/><b>Influencers</b></div><div class="line-off"></div><div class="step-off"><i class="fa fa-money fa-4x"></i><br/><b>Payment</b></div><div class="line-off"></div><div class="step-off"><i class="fa fa-check fa-4x"></i><br/><b>Summary</b></div>
</div>
<div class="col-md-4"></div>

<div class="col-md-12">
<h1>Concept</h1>
</div>
<div class="col-md-8">
<div style="padding:10px; border-radius:5px;" class="{{done}}" ng-show="done"><p>{{status}}</p></div>
<form role="form" name="newAd"  ng-submit="saveCampaign()">
	<div class="form-group">
	<label for="AdTag">The Advertising Tag #</label>
	<input type="text" ng-model="campaign.name" ng-pattern="{{word}}" ng-trim="false" style="width:100%" placeholder="here" required/>
	<br/><br/>
	<label for="AdTag">Campaign Description</label>
	<input type="text" ng-model="campaign.description" ng-trim="false" style="width:100%"/>
	</div>
	
	<div class="form-group">
	<label for="Interests"> select campaign interests group.</label> <br/>
        
        <div ng-repeat="item in interests" class="interests">
        <input  type="checkbox" ng-model="checkStatus" 
        		ng-init="checkStatus = checkIfChecked(item)"
        		ng-click="updateInterest(item, checkStatus)"><span class="icon-{{checkStatus}}"> <i class="fa {{item.icon}} fa-2x"></i> {{item.name}} </span></div>
    </div>
    
    <div class="form-group">
	<label for="Start">Start Date Of Campaign</label> <input type="date" min="{{today}}" ng-model="campaign.startdate" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<label for="End">End Date Of Campaign</label> <input type="date" min="{{today}}" ng-model="campaign.enddate" >
	</div>
	
	<div class="form-group">
	<div class="col-sm-3">
	<a href="{{campaign.advert_image}}" target="_blank"><img ng-cloak ng-src="{{campaign.advert_image}}" width="200px"/></a>
	</div>
	<div						class="col-sm-9"
								file-dropzone="[image/png, image/jpeg, image/gif, video/mp4, video/quicktime]" 
								file-error-message="ERROR MESSAGE HERE"
								file-max-count=""
					    		data-max-file-size="5"
					    		upload-action="uploadAdImage"
					    		ng-init="processingMessage = 'processing'; uploadOnDrop = true; dropTextOk = 'Drop Images here'; dropTextError = 'Only images allowed'" >
					    	
					    		<input type="file" id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />
					    		<br>Recommended image sizes 640 x 640 pixels.
					    	    <div id="dropbox" class="dropbox" ng-class="dropClass" style="width:100%;height:100px;border:1px solid #000;">
							    	<span>{{dropText}}</span>					    	
							    </div>
							    
							    <!-- 
							    <div ng-show="files.length" >
							        <div ng-repeat="file in files.slice(0)" class="uploadBox">
							            <span>{{file.webkitRelativePath || file.name}}</span>
							            (<span ng-switch="file.size > 1024*1024">
							                <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
							                <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
							            </span>)
							            
							         
							        </div>
							  </div>
							   -->
					    	  <div ng-show="progressVisible">
							            <div class="percent">{{progress}}%</div>
							            <div class="progress-bar">
							                <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
							            </div>
							  </div>
							       
							  <div class="buttons" style="margin-top:10px;">
									<div ng-show="formErrorUpload" class="form-error alert-error">{{formUploadMessage}}</div>
									<div ng-show="formOkUpload" ng-model="newImage" class="form-error alert-info">{{formUploadMessage}}</div>
									
								</div>       
							
								<!-- <div id="holder" class="image-container"></div>  -->
								
					    	</div>
								
<div style="clear:both"></div>
	<div class="form-group" style="margin-top:10px">
	<button class="btn btn-lg btn-primary" type="submit"> Save and continue </button>
	<a href="/"><button class="btn btn-lg btn-danger" type="button"> Cancel </button></a>
	</div>
	
</form>


</div>
  
<div class="col-md-4"></div>
</div>					    	