<div ng-show="login">
<div style="padding:10px; border-radius:5px;" class="bg-success" ng-show="done"><p>{{status}}</p></div>

<h1>Draft Campaigns</h1>
<hr>
<div class="row btm10">

	<div class="col-md-2">
	<label for="AdImage">The Advertiser</label>
	</div>

	<div class="col-md-1">
	<label for="AdvertiserID">Interest Group</label>
	</div>
	
	<div class="col-md-2">
	<label for="AdName">The Advertising Tag</label>
	</div>
	
	<div class="col-md-2">
	<label for="CreatedDate">Created Date</label>
	</div>
	
	<div class="col-md-1">
	<label for="Sendmailbel"></label>
	</div>
	<div class="col-md-1">
	<label for="EditAd"></label>
	</div>
	<div class="col-md-1">
	<label for="DeleteAd"></label>
	</div>
	
</div>
 
<div class="row btm10" ng-repeat="campaign in campaigns">
<div class="col-md-2">	
	<button  onclick="adimage(this)" data-id="{{campaign.advert_image}}" data-toggle="modal" data-target="#myModal"><img ng-cloak ng-src="{{campaign.advert_image}}" width="100px" height="100px"/></button>
</div>

<form role="form" id="{{'form'+$index}}" name="{{'form'+$index}}" class="form-inline"  ng-submit="postAd(campaign)">

<div class="col-md-1">
	<div class="form-group">
	 	<div>{{getInterest(campaign.advertiser_id)}}</div>
	 	<div>{{interest[campaign.advertiser_id]}}</div>
	</div>
</div>	

<div class="col-md-2">
	<div class="form-group">
	<label for="AdvetName">#{{campaign.name}}</label>
	<input type="hidden" ng-model="campaign.name">  
	</div>
</div>

<div class="col-md-2">
	<div class="form-group">
	<label for="CreatedDate">{{campaign.createddate}}</label>
	</div>
</div>

</form>

<div class="col-md-1" ng-if="campaign.status == 0">

	<button  ng-click="editAd(campaign.advertiser_id)" class="btn btn-default" data-toggle="modal" data-target="#myModal2">Edit</button>

</div>


<div class="col-md-1" ng-if="campaign.status == 0">

	<div class="form-group">
	<button   class="btn btn-default" data-id="{{campaign.advertiser_id}}" data-toggle="modal" data-target="#myModal3">Delete</button>
	</div>

</div>

<div class="col-md-1" ng-if="campaign.status == 0">

	<button  class="btn btn-primary" ng-click="proceed(campaign.advertiser_id)">Proceed</button>

</div>

<div class="col-md-1" ng-if="campaign.status == 10">
<form role="form" id="{{'rqform'+$index}}" name="{{'rqform'+$index}}" class="form-inline"  ng-submit="requestedAd(campaign.advertiser_id,campaign.name,campaign.advert_image)">
	<div class="form-group">
	<button   class="btn btn-default" type="submit">Send Request</button>
	</div>
</form>
</div>

</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <img src="" id="myadimage" class="img-responsive">
        </div>
    </div>
  </div>
</div>

<div id="myModal2" class="modal fade" style="z-index:100" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
						<div class="row" style="padding:30px;">
						<span class="text-primary pull-right"><b>Edit Campaign</b></span><br/>
						<div style="padding:10px; border-radius:5px;" class="{{done}}" ng-show="done"><p>{{status}}</p></div>
						<form role="form" id="newAd" name="newAd"  ng-submit="updatedCampaign()">			
						
							<div class="form-group">
							<label for="AdTag">The Advertising Tag #</label>
							<input type="text" ng-model="editcampaign.name" ng-pattern="{{word}}" ng-trim="false"  style="width:100%" placeholder="here" required/>
							<br/><br/>
							<label for="AdTag">Campaign Description</label>
							<textarea ng-model="editcampaign.description" style="width:100%"/></textarea>
							</div>
							<div class="form-group">
							<label for="Start">Start Date Of Campaign</label> <input type="date" min="{{today}}" ng-model="editcampaign.startdate">  {{editcampaign.startdate}}<br/>
							<label for="End">End. Date Of Campaign</label> <input type="date" min="{{today}}" ng-model="editcampaign.enddate" >  {{editcampaign.enddate}}
							</div>							

							<div class="form-group col-md-12">
							<label for="Interests"> Select campaign interests.</label><br/>
						        
						        <div ng-repeat="item in editinterests" class="interests col-md-3">
						        <input type="checkbox" ng-model="checkStatus" 
						        		ng-init="checkStatus = editcheckIfChecked(item)"
						        		ng-click="updateInterest(item, checkStatus)"><span class="icon-{{checkStatus}}"> <i class="fa {{item.icon}} fa-2x"></i> {{item.name}} </span>
						        </div>
						        
						    </div>
							
								<div class="form-group">
							<div class="col-sm-3">
							<button type="button" onclick="adimage(this)" data-id="{{editcampaign.advert_image}}" data-toggle="modal" data-target="#myModal"><img ng-cloak ng-src="{{editcampaign.advert_image}}" width="100px"/></button>
							</div>
							<div						class="col-sm-9"
														file-dropzone="[image/png, image/jpeg, image/gif, video/mp4, video/quicktime]" 
														file-error-message="ERROR MESSAGE HERE"
														file-max-count=""
											    		data-max-file-size="5"
											    		upload-action="uploadAdImage"
											    		ng-init="processingMessage = 'processing'; uploadOnDrop = true; dropTextOk = 'Drop Images here'; dropTextError = 'Only images allowed'" >
											    	
											    		<input type="file" id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />
											    		<br>
											    	    <div id="dropbox" class="dropbox" ng-class="dropClass" style="width:100%;height:100px;border:1px solid #000;">
													    	<span>{{dropText}}</span>
													    	
													    </div>
													    
													    <!-- 
													    <div ng-show="files.length" >
													        <div ng-repeat="file in files.slice(0)" class="uploadBox">
													            <span>{{file.webkitRelativePath || file.name}}</span>
													            (<span ng-switch="file.size > 1024*1024">
													                <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
													                <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
													            </span>)
													            
													         
													        </div>
													  </div>
													   -->
											    	  <div ng-show="progressVisible">
													            <div class="percent">{{progress}}%</div>
													            <div class="progress-bar">
													                <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
													            </div>
													  </div>
													       
													  <div class="buttons" style="margin-top:10px;">
															<div ng-show="formErrorUpload" class="form-error alert-error">{{formUploadMessage}}</div>
															<div ng-show="formOkUpload" ng-model="newImage" class="form-error alert-info">{{formUploadMessage}}</div>
															
														</div>       
													
														<!-- <div id="holder" class="image-container"></div>  -->
														
											    	</div>
														
						<div style="clear:both"></div>
							<div class="form-group" style="margin-top:10px">
							<button class="btn btn-primary" type="submit">Save</button> 
							<button onclick="closemodal()" class="btn btn-primary" type="button">Cancel</button>
							<button onclick="closemodal()" class="btn btn-primary" type="button">Close</button>
							</div>
							
						</form>

						</div>
	
        </div>
    </div>
  </div>
</div>
</div>

<div id="myModal3" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete?</p>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" id="delbtn" data="" ng-click="deleteAd($event)"  data-dismiss="modal" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

function adimage(identifier) { 
	var src = $(identifier).data('id');
	$('img#myadimage').attr('src', src);
}

function centerModal(e) {
	var msgId = $(e.relatedTarget).data('id');
	if(msgId) $('#delbtn').attr('data',msgId);
    $(this).css('display', 'block');
    var $dialog = $(this).find(".modal-dialog");
    var offset = ($(window).height() - $dialog.height()) / 2;
    // Center modal vertically in window
    $dialog.css("margin-top", offset);
}

function closemodal(){
	$('.modal').modal('hide');
}

$('.modal').on('show.bs.modal', centerModal);

$(window).on("resize", function () {
    $('.modal:visible').each(centerModal);
});

</script>    
									
					    	