<div ng-show="login">
<div style="padding:10px; border-radius:5px;" class="bg-success" ng-show="done"><p>{{status}}</p></div>

<h1>Finished Campaigns</h1>
<hr>
<div class="row btm10">
<div class="col-md-2">
	<label for="AdImage">The Advertiser</label>
	</div>
	
	<div class="col-md-2">
	<label for="AdName">The Advertising Tag</label>
	</div>
	
	<div class="col-md-2">
	<label for="CreatedDate">Created Date</label>
	</div>
	
	<div class="col-md-2">
	<label for="PostedDate">Posted Date (insta server time)</label>
	</div>

	<div class="col-md-2">
	<label for="AdvertiserID">Posted Influencers</label>
	
	</div>
	
	<div class="col-md-2">
	<label for="AdvertiserID"></label>
	</div>
	
</div>
 
<div class="row" ng-repeat="campaign in campaigns" style="margin-bottom:10px">
<div class="col-md-2">	
	<button  onclick="adimage(this)" data-id="{{campaign.advert_image}}" data-toggle="modal" data-target="#myModal"><img ng-cloak ng-src="{{campaign.advert_image}}" width="100px" height="100px"/></button>
</div>

<div class="col-md-2">
	<div class="form-group">
	<label for="AdvetName">#{{campaign.name}}</label>
	<input type="hidden" ng-model="campaign.name">  
	</div>
</div>

<div class="col-md-2">
	<div class="form-group">
	{{campaign.createddate}}	
	</div>
</div>

<div class="col-md-2">
	<div class="form-group">
	Start : <label for="CreatedDate">{{campaign.first}}</label><br/>
	Last : <label for="CreatedDate">{{campaign.last}}</label>
	</div>
</div>
	
<div class="col-md-2">
	<div class="form-group">
	<label for="Total"> {{campaign.amount}} posts </label>  <br/>
	<button  ng-click="getPostedInfluencers(campaign.advertiser_id)" data-toggle="modal" data-target="#myModal2" class="btn btn-default">view insta url</button>
	</div>
</div>	

<div class="col-md-2">
	<div class="form-group">
	
	</div>
</div>
	


</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <img src="" id="myadimage" class="img-responsive">
        </div>
    </div>
  </div>
</div>	

<div id="myModal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
          {{PostedInfluencers}}
        </div>
    </div>
  </div>
</div>

</div>				    
<script type="text/javascript">

function adimage(identifier) { 
	var src = $(identifier).data('id');
	$('img#myadimage').attr('src', src);
}

function centerModal() {
    $(this).css('display', 'block');
    var $dialog = $(this).find(".modal-dialog");
    var offset = ($(window).height() - $dialog.height()) / 2;
    // Center modal vertically in window
    $dialog.css("margin-top", offset);
}

$('.modal').on('show.bs.modal', centerModal);

$(window).on("resize", function () {
    $('.modal:visible').each(centerModal);
});

</script>   									
					    	