
<!-- div ng-show="loading" class="center"><img src="/assets/loading.gif" alt="Instagram loading"></div-->
<h1 ng-cloak>{{error}}</h1>
<p ng-cloak ng-show="error">Please login here: <a href="/login"><button class="btn btn-default" >Login with Instagram</button></a></p>

<script type="text/javascript">
$(window).load(function(){
    $('#load-screen').delay(1000).fadeOut(function(){$(this).remove()});
});
</script>
