
<div class="row" style="padding:50px;">
<div class="col-md-4"></div>
  
<div class="col-md-4">
<fieldset>
<legend><h4>Logged out.</h4></legend>

<a href="/login">Login</a>
</fieldset>
</div>
  
<div class="col-md-4"></div>
</div>

<div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <button class="btn btn-danger" ng-click="logout()" ng-disabled="!loginStatus || loginStatus.status != 'connected'">Logout</button>
          <h4 class="text-info">$FB.loginStatus()</h4> Test Account : sombat@thebigdot.com | pwd= @tbd011#
          <div class="code-block" hljs source="loginStatusJSON"></div>
        </div>
        <div class="col-md-4"></div>
</div>
<div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <h4 class="text-info">$FB.api('/me')</h4>
          <div class="code-block" hljs source="apiMeJSON"></div>
        </div>
        <div class="col-md-4"></div>
</div>