<div ng-show="login">
<div style="padding:10px; border-radius:5px;" class="bg-success" ng-show="done"><p>{{status}}</p></div>

<h1>Requested Campaigns</h1>
<hr>
<div class="row btm10">

	<div class="col-md-2">
	<label for="AdImage">The Advertiser</label>
	</div>

	<div class="col-md-2">
	<label for="AdvertiserID">Interest Group</label>
	</div>
	
	<div class="col-md-2">
	<label for="AdName">The Advertising Tag</label>
	</div>
	
	<div class="col-md-2">
	<label for="Period">Period</label>
	</div>
	
	<div class="col-md-2">
	<label for="Budget">Participation Prices</label>
	</div>
	
	<div class="col-md-2 text-center">
	<label for="Influencers">Influencers</label>
	</div>
	
</div>
 
<div class="row" ng-repeat="campaign in campaigns" style="margin-bottom:10px">
<div class="col-md-2">	
	<button  onclick="adimage(this)" data-id="{{campaign.advert_image}}" data-toggle="modal" data-target="#myModal"><img ng-cloak ng-src="{{campaign.advert_image}}" width="100px" height="100px"/></button>
</div>

<form role="form" id="{{'form'+$index}}" name="{{'form'+$index}}" class="form-inline"  ng-submit="postAd(campaign)">

<div class="col-md-2">
	<div class="form-group">
	 	<div>{{getInterest(campaign.advertiser_id)}}</div>
	 	<div>{{interest[campaign.advertiser_id]}}</div>
	</div>
</div>	

<div class="col-md-2">
	<div class="form-group">
	#{{campaign.name}}	
	</div>
</div>

<div class="col-md-2">
	<div class="form-group">
	Start : {{campaign.startdate}}<br/>
	End. : {{campaign.enddate}}
	</div>
</div>

<div class="col-md-2">
	<div class="form-group">
	{{campaign.price}}
	</div>
</div>

<div class="col-md-2 text-center">
	<div class="form-group">
	{{campaign.influencers.length}}
	</div>
</div>

</form>

<div class="col-md-1" ng-if="campaign.status == 0">

	<button  ng-click="editAd(campaign.advertiser_id)" class="btn btn-default" data-toggle="modal" data-target="#myModal2">Edit</button>

</div>


<div class="col-md-1" ng-if="campaign.status == 0">
<form role="form" id="{{'dform'+$index}}" name="{{'dform'+$index}}" class="form-inline"  ng-submit="deleteAd(campaign.advertiser_id)">
	<div class="form-group">
	<button   class="btn btn-default" type="submit">Delete</button>
	</div>
</form>
</div>

<div class="col-md-1" ng-if="campaign.status == 0">
<form role="form" id="{{'rqform'+$index}}" name="{{'rqform'+$index}}" class="form-inline"  ng-submit="requestedAd(campaign.advertiser_id,campaign.name,campaign.advert_image)">
	<div class="form-group">
	<button   class="btn btn-default" type="submit">Send Request</button>
	</div>
</form>
</div>

</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <img src="" id="myadimage" class="img-responsive">
        </div>
    </div>
  </div>
</div>

</div>
<script type="text/javascript">

function adimage(identifier) { 
	var src = $(identifier).data('id');
	$('img#myadimage').attr('src', src);
}

function centerModal() {
    $(this).css('display', 'block');
    var $dialog = $(this).find(".modal-dialog");
    var offset = ($(window).height() - $dialog.height()) / 2;
    // Center modal vertically in window
    $dialog.css("margin-top", offset);
}

$('.modal').on('show.bs.modal', centerModal);

$(window).on("resize", function () {
    $('.modal:visible').each(centerModal);
});

</script>    
									
					    	