<div ng-show="login" class="row" style="padding:50px;">

<div class="col-md-8">
<div style="padding:10px; border-radius:5px;" class="bg-success" ng-show="done"><p>{{status}}</p></div>
<div style="padding:10px; border-radius:5px;" class="bg-warning" ng-show="error"><p>{{status}}</p></div>
<form role="form"  ng-submit="saveuserProfile()">
<h1>User Profile</h1>

	<div class="form-group">
	<label for="FullName">Full Name</label>
	<input class="form-control" type="text" ng-cloak ng-model="account.fullname" placeholder="Full Name" required/>
	</div>
	
	<div class="form-group">
	<label for="Email">Email</label>
	<input class="form-control" type="email" ng-cloak ng-model="account.email" placeholder="Email" required/>
	</div>
	
	<div class="form-group">
	<label for="Facebook">Facebook Username</label>
	<input class="form-control" type="text" ng-cloak ng-model="account.username" placeholder="Facebook Username" />
	</div>
	
	<div class="form-group">
	<label for="FacebookPage">Facebook Page Name</label>
	<input class="form-control" type="text" ng-cloak ng-model="account.facebookpage" placeholder="Facebook Page Name" />
	</div>

    <div style="clear:both"></div>
	<div class="form-group" style="margin-top:10px">
	<button class="btn btn-default" type="submit">Save</button>
	</div>
	
</form>


</div>
  
<div class="col-md-4"></div>
</div>


					    
									
					    	