@media screen and (max-width: 768px){
	
.line-off, .line-on { border-top: 0px solid #2491de; }

#page-wrapper {
margin: 0;
padding: 0;
}

}


@media screen and (max-width: 320px){
	
.line-off, .line-on { border-top: 0px solid #2491de; }

#page-wrapper {
margin: 0;
padding: 0;
}

}

/* modified boostrap css */
body {
background-color: #fff;
}

.navbar-default {
background-color: #fff;
border-color: #fff;
}

#page-wrapper {
position: inherit;
margin: 0 0 0 250px;
padding: 0 30px;
border-left: 0px solid #eee;
}

.nav {
padding-left: 0;
margin-bottom: 0;
list-style: none;
border-right: 1px solid #eee;
}

/* End modified boostrap css */
input[type=range]{
-webkit-appearance: none;
-moz-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-webkit-slider-runnable-track {
-webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    
	}

input[type='range']::-moz-range-track {
-moz-appearance: none;
width:0px;
}

input[type='range']::-moz-range-thumb {
-moz-appearance: none;
border-radius: 50%;
height: 16px;
width: 16px;
opacity: 0;
}

input[type=range]::-moz-focus-outer {
    border: 0;
    }

input[type=range]::-ms-track {
 background: transparent;
 border-color: transparent;
 width:0px;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 13px;
    width: 13px;
    border-radius: 50%;   
    opacity: 0;
}

.range1 {
display:block;
width: 150px;
height: 17px;
/* background-image: url(/assets/checkbox-bg.png); */
background-image: url(/assets/checkbox-on.png);
background-repeat: no-repeat;
/* background-position: top left; */
z-index: 55;
}

.range0 {
display:block;
width: 100px;
height: 17px;
background-size: 150px 17px;
/* background: url(/assets/checkbox-bg.png) no-repeat right bottom; */
background-image: url(/assets/checkbox-off.png);
background-repeat: no-repeat;
z-index: 55;
}

/* End checkbox */

.msg-new { floate:left; width:150px;}

.border1 {
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 2px solid #2491de;	
}

.step-on {
	display:inline-block;
	width:120px;
	height:120px;
	border-radius:60px;
	color:#fff;
	background:#428bca;
	padding-top:20px;	
}

.step-off {
	display:inline-block;
	width:120px;
	height:120px;
	border-radius:60px;
	color:#aaa;
	background:#ccc;
	padding-top:20px;	
}

.line-on {
	display:inline-block;
	width:100px;
	height:30px;
	border-top: 5px solid #2491de;
}

.line-off {
	display:inline-block;
	width:100px;
	height:30px;
	border-top: 5px solid #ccc;
}

.btm10 { margin-bottom:10px; }

.top10 {
	margin-top:10px;
}

.padsm {
	padding:10px;
}

.pad5 {
	padding:5px;
}

.pad10 {
	padding:10px;
}

.pad20 {
	padding:20px;
}

.icon-false {
	
	padding:10px;
	color:#ccc;
}

.icon-true {
	
	padding:10px;
	color:#000;
}

.interests {
	display:inline-block;
	padding: 5px;
	font-size: small;
}

.dropzone {
  width: 250px;
  height: 45px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 30px;
  margin: 20px;
  font-family: Arial;
}

.image-container {
    width: 300px;
    height: 300px;
}

.image-container img {
   max-width: 100%;   
}

.file-name {
   font-family: Arial;   
}

.bar {
width:10px;
height:20px;
background:#000;
}

.circle
{
width:100px;
height:100px;
border-radius:50%;
font-size:20px;
color:#fff;
line-height:100px;
text-align:center;
background:#000
}

.activecircle
{
width:100px;
height:100px;
border-radius:50%;
font-size:20px;
color:#fff;
line-height:100px;
text-align:center;
background:#f00;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#load-screen {
    width: 100%;
    height: 100%;
    background: url("/assets/loading.gif") no-repeat center center #fff;
    position: fixed;
    opacity: 0.7;
    z-index:999;
}

.btn-normal {
color: #428bca;
/*background-color: #e7e7e7;
border-color: #e7e7e7;*/
}

.alert-text {
color: #428bca;
/* font-weight:bold; */
}