<div class="row" style="padding:50px;">
<div class="col-md-4"></div>
  
<div class="col-md-4">

<img src="/assets/instagram.png" alt="Instagram logo">
        <h1>Instagram photos <span>taken by {{influencer.username}}</span></h1>
        
        List out all the interestes here.
        
        <div ng-repeat="item in interests">
        <input type="checkbox" ng-model="checkStatus" 
        		ng-init="checkStatus = checkIfChecked(item)"
        		ng-click="updateInterest(item, checkStatus)">{{item.name}}</div>
        </div>
        
        <button class="btn btn-default" ng-click="goProfile()">Continue</button>
</div>
  
<div class="col-md-4"></div>
</div>