<div class="row" style="padding:10px;">
<div class="col-md-2"></div>

<div class="col-md-6">
<br/><br/>
	<button class="btn btn-primary" ng-click="login()" ng-disabled="loginStatus.status == 'connected'">Login with Facebook</button>
	<button class="btn btn-danger" ng-click="logout()" ng-disabled="!loginStatus || loginStatus.status != 'connected'">Logout</button>
</div>
  
<div class="col-md-4"></div>
</div>

<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <h4 class="text-info">$FB.loginStatus()</h4> Test Account : sombat@thebigdot.com 
          <div class="code-block" hljs source="loginStatusJSON"></div>
        </div>
        <div class="col-md-4"></div>
</div>
<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <h4 class="text-info">$FB.api('/me')</h4>
          <div class="code-block" hljs source="apiMeJSON"></div>
        </div>
        <div class="col-md-4"></div>
</div>