<div class="row" style="padding:50px;">

<div class="col-md-8">
<div style="padding:10px; border-radius:5px;" class="bg-success" ng-show="done"><p>{{status}}</p></div>
<form role="form"  ng-submit="saveProfile()">
<h1>My Profile</h1>

	<div class="form-group">
	<label for="FullName">Full Name</label>
	<input class="form-control" type="text" ng-cloak ng-model="influencer.full_name" placeholder="Full Name" required/>
	</div>
	
	<div class="form-group">
	<label for="Email">Email</label>
	<input class="form-control" type="email" ng-cloak ng-model="influencer.email" placeholder="Email" required/>
	</div>
	
	<div class="form-group">
	<label for="Bio">Bio</label>
	<textarea class="form-control" ng-cloak ng-model="influencer.bio" placeholder="bio"></textarea>
	</div>
	
	<div class="form-group">
	<label for="LineID">Line ID</label>
	<input class="form-control" type="text" ng-cloak ng-model="influencer.line_id" placeholder="Line ID" />
	</div>
	
	<div class="form-group">
	<label for="Facebook">Facebook Username</label>
	<input class="form-control" type="text" ng-cloak ng-model="influencer.facebook_username" placeholder="Facebook Username" />
	</div>
	
	<div class="form-group">
	<label for="Website">Website</label>
	<input  class="form-control" type="url" ng-cloak ng-model="influencer.website" placeholder="Website"/>
	</div>
	
	<div class="form-group">
	<div class="col-sm-3">
	<img ng-cloak ng-src="{{influencer.profile_picture}}"/>
	</div>
	<div						class="col-sm-9"
								file-dropzone="[image/png, image/jpeg, image/gif, video/mp4, video/quicktime]" 
								file-error-message="ERROR MESSAGE HERE"
								file-max-count=""
					    		data-max-file-size="5"
					    		upload-action="uploadImage"
					    		ng-init="processingMessage = 'processing'; uploadOnDrop = true; dropTextOk = 'Drop Images here'; dropTextError = 'Only images allowed'" >
					    	
					    		<input type="file" id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />
					    		<br>
					    	    <div id="dropbox" class="dropbox" ng-class="dropClass" style="width:100%;height:100px;border:1px solid #000;">
							    	<span>{{dropText}}</span>
							    	
							    </div>
							    
							    <!-- 
							    <div ng-show="files.length" >
							        <div ng-repeat="file in files.slice(0)" class="uploadBox">
							            <span>{{file.webkitRelativePath || file.name}}</span>
							            (<span ng-switch="file.size > 1024*1024">
							                <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
							                <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
							            </span>)
							            
							         
							        </div>
							  </div>
							   -->
					    	  <div ng-show="progressVisible">
							            <div class="percent">{{progress}}%</div>
							            <div class="progress-bar">
							                <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
							            </div>
							  </div>
							       
							  <div class="buttons" style="margin-top:10px;">
									<div ng-show="formErrorUpload" class="form-error alert-error">{{formUploadMessage}}</div>
									<div ng-show="formOkUpload" ng-model="newImage" class="form-error alert-info">{{formUploadMessage}}</div>
									
								</div>       
							
								<!-- <div id="holder" class="image-container"></div>  -->
								
					    	</div>
	</div>
    <div style="clear:both"></div>
	<div class="form-group" style="margin-top:10px">
	<button class="btn btn-default" type="submit">Save</button>
	</div>
	
</form>


</div>
  
<div class="col-md-4"></div>
</div>


					    
									
					    	