<div class="container-fluid">
<div class="row border-radius 5" style="padding:50px;">
<div class="col-md-2"></div>
  
<div class="col-md-6">
<form role="form">
<fieldset>
<legend>Please sign up</legend>
<div class="alert alert-warning alert-dismissible" role="alert" ng-show="error">
  <button type="button" class="close" data-dismiss="alert">
  	<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  </button>
  <strong>Warning!</strong> {{error}}
</div>
	<button class="btn btn-success" ng-show="insta" ng-click="signup(instagram)">Signup with Instagram</button>
	<button class="btn btn-primary" ng-show="FB" ng-click="signup(facebook)">Signup with facebook</button>
	<br/><br/>
	<button class="btn btn-primary" ng-click="login()" ng-disabled="loginStatus.status == 'connected'">Connect with Facebook</button>
	<button class="btn btn-danger" ng-click="logout()" ng-disabled="!loginStatus || loginStatus.status != 'connected'">Logout</button>
    <!-- button class="btn btn-success" ng-click="share()">FB.ui</button-->
        
</fieldset>
</form>
</div>
  
<div class="col-md-4"></div>
</div>
</div>

<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <h4 class="text-info">$FB.loginStatus()</h4>
          <div class="code-block" hljs source="loginStatusJSON"></div>
        </div>
        <div class="col-md-4"></div>
</div>
<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <h4 class="text-info">$FB.api('/me')</h4>
          <div class="code-block" hljs source="apiMeJSON"></div>
        </div>
        <div class="col-md-4"></div>
</div>

