/*--TEST--*/
h4{
	font-size: 1.4em;
}

@media screen and (max-width: 980px){
h4{
	font-size: 1em;
}

}

@media screen and (max-width: 650px){
h4{
	font-size: 1em;
}

}

@media screen and (max-width: 320px){
h4{
	font-size: 1em;
}
  
}

#load-screen {
    width: 100%;
    height: 100%;
    background: url("/assets/loading.gif") no-repeat center center #fff;
    position: fixed;
    opacity: 0.7;
    z-index=999;
}


/* modified boostrap css */
body {
background-color: #fff;
}

.navbar-default {
background-color: #fff;
border-color: #fff;
}

#page-wrapper {
position: inherit;
margin: 0 0 0 250px;
padding: 0 30px;
border-left: 0px solid #eee;
}

.nav {
padding-left: 0;
margin-bottom: 0;
list-style: none;
border-right: 1px solid #eee;
}

/* End modified boostrap css */

/*--start-*/

.top10{ margin-top:10px;}

.pad5 {padding:5px;}

.pad10 {padding:10px;}

.icon-false {	
	padding:10px;
	color:#ccc;
}

.icon-true {	
	padding:10px;
	color:#000;
}

.interests {
	display:inline-block;
	margin:10px;
}

.dropzone {
  width: 250px;
  height: 45px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 30px;
  margin: 20px;
  font-family: Arial;
}

.image-container {
    width: 300px;
    height: 300px;
}

.image-container img {
   max-width: 100%;   
}

.file-name {
   font-family: Arial;   
}

.bar {
width:10px;
height:20px;
background:#000;
}

.circle
{
width:100px;
height:100px;
border-radius:50%;
font-size:20px;
color:#fff;
line-height:100px;
text-align:center;
background:#000
}

.activecircle
{
width:100px;
height:100px;
border-radius:50%;
font-size:20px;
color:#fff;
line-height:100px;
text-align:center;
background:#f00;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.btn-normal {
color: #428bca;
/*background-color: #e7e7e7;
border-color: #e7e7e7;*/
}

.alert-text {
color: #428bca;
/* font-weight:bold; */
}



/* interests image */
.Sports {
	display:block;
    width: 160px;
    height: 40px;
    background: url('/assets/interests.png')-200px 0;
	
}

.Sports-active {
	display:block;
    width: 160px;
    height: 40px;
	background: url('/assets/interests.png');
}


.Fashion {
	display:block;
    width: 160px;
    height: 40px;
    background: url('/assets/interests.png')-200px -80px;
}

.Fashion-active {
	display:block;
    width: 160px;
    height: 40px;
    background: url('/assets/interests.png')0 -80px;
    
}


.Music {
	display:block;
    width: 160px;
    height: 40px;
    background: url('/assets/interests.png')-200px -140px;
}

.Music-active {
	display:block;
    width: 160px;
    height: 40px;
    background: url('/assets/interests.png')0 -140px;
     
}

.Sex {
	display:block;
    width: 160px;
    height: 40px;
    background: url('/assets/interests.png')-200px -200px no-repeat;
}

.Sex-active {
	display:block;
    width: 160px;
    height: 40px;
    background: url('/assets/interests.png')0 -200px no-repeat;
    
}