
<div class="row" style="padding:50px;">
<div class="col-md-2"></div>
  
<div class="col-md-6">
<fieldset>
<legend><h4>Logged out.</h4></legend>
</fieldset>
<iframe src="https://instagram.com/accounts/logout/" width="0" height="0" />
</div>
  
<div class="col-md-4"></div>
</div>