<div ng-show="login">

<span class="pull-left"><h1 ng-show="inbox">Inbox Messages</h1> <h1 ng-show="outbox">Send Messages</h1></span> <button class="top10 pull-right btn btn-primary" data-toggle="modal" data-target="#myModal">create message</button>

<div class="row clearfix"><div class="col-md-12"><hr/></div></div>

<div class="row">
	<div class="col-md-2">
	<label>From</label>
	</div>
	<div class="col-md-2">
	<label>To</label>
	</div>
	
	<div class="col-md-2">
	<label>Subject</label>
	</div>
	
	<div class="col-md-2">
	<label>Date</label>
	</div>
	
	<div class="col-md-2">
	<label>Status</label>
	</div>

	<div class="col-md-2">
	
	</div>
	
	<div class="col-md-2">

	</div>
</div>
 <br/>
<div class="row" ng-repeat="message in messages" style="margin-bottom:10px"  ng-show="inbox" ng-if="message.msgto==bbid" >

<div class="col-md-2">
	{{message.full_name}}
</div>

<div class="col-md-2">
	{{message.to_fname}}
</div>

<div class="col-md-2">
	<a href ng-click="readMessage(message)" data-toggle="modal" data-target="#myModal2">{{message.subject}}</a>
</div>

<div class="col-md-2">
	{{message.createddate}}
</div>

<div class="col-md-2">
	<span ng-if="message.status==0">Unread</span><span ng-if="message.status==1">Read</span>
</div>

<div class="col-md-2">
<button class="btn btn-default" data-id="{{message.id}}" data-toggle="modal" data-target="#myModal3">Delete</button>	
</div>

</div>

<div class="row" ng-repeat="message in messages" style="margin-bottom:10px"  ng-show="outbox" ng-if="message.msgfrom==bbid">

<div class="col-md-2">
	{{message.full_name}}
</div>

<div class="col-md-2">
	{{message.to_fname}}
</div>

<div class="col-md-2">
	<a href ng-click="readMessage(message)" data-toggle="modal" data-target="#myModal2">{{message.subject}}</a>
</div>

<div class="col-md-2">
	{{message.createddate}}
</div>

<div class="col-md-2">
	<span ng-if="message.status==0">Unread</span><span ng-if="message.status==1">Read</span>
</div>

<div class="col-md-2">
<button class="btn btn-default" data-id="{{message.id}}" data-toggle="modal" data-target="#myModal3">Delete</button>
</div>

</div>

<div id="myModal" my-modal class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog"> 
    <div class="modal-content">
        <div class="modal-body">
        <div style="padding:10px; border-radius:5px;" class="btn-danger" ng-show="error"><p>{{status}}</p></div>
            <form ng-submit="sendMessage(newmessage)">
            	<div class="form-group">
						<label for="To">To</label>
						<select ng-model="msgto" class="form-control" ng-options="contact.fname for contact in contacts track by contact.bbid"></select>
				</div>
				<div class="form-group">
						<label for="Subject">Subject</label>
						<input type="text" class="form-control" ng-model="newmessage.subject" required/>
				</div>
				<div class="form-group">
						<label for="MSG">Message</label>
						<textarea class="form-control" ng-model="newmessage.message" style="width:100%" required/></textarea>
				</div>
            
            	<button type="submit" class="btn btn-default">send</button> <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
            </form>
        </div>
    </div>
  </div>
</div>	

<div id="myModal2" myy-modal class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog"> 
    <div class="modal-content">
        <div class="modal-body">
        
            <form ng-submit="sendMessage(msg)">
            	<div class="form-group">
						<label for="Message">Message</label>
						<blockquote>{{readmsg}}</blockquote>
				</div>
				<hr/>
            	<div class="form-group" ng-show="inbox">
						<label for="replyTo">reply To</label>
						{{msg.full_name}}
				</div>
				<div class="form-group" ng-show="inbox">
						<label for="Subject">Subject</label>
						<input type="text" class="form-control" ng-model="msg.subject" required/>
				</div>
				<div class="form-group" ng-show="inbox">
						<textarea class="form-control" ng-model="msg.message" style="width:100%" required/></textarea>
				</div>
            
            	<button type="submit" ng-show="inbox" class="btn btn-default">send</button> 
            	<button type="button" ng-show="inbox" class="btn btn-default" data-dismiss="modal">cancel</button> 
            	<button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
            </form>
        </div>
    </div>
  </div>
</div>

</div>	

<div id="myModal3" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete?</p>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" id="delbtn" data="" ng-click="deleteMessage($event)"  data-dismiss="modal" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>
			    
<script type="text/javascript">

function centerModal(e) {
	var msgId = $(e.relatedTarget).data('id');
	if(msgId) $('#delbtn').attr('data',msgId);
    $(this).css('display', 'block');
    var $dialog = $(this).find(".modal-dialog");
    var offset = ($(window).height() - $dialog.height()) / 2;
    // Center modal vertically in window
    $dialog.css("margin-top", offset);
}

$('.modal').on('show.bs.modal', centerModal);

$(window).on("resize", function () {
    $('.modal:visible').each(centerModal);
});

</script>   									
					    	