<div ng-show="login">
<div style="padding:10px; border-radius:5px;" class="bg-success" ng-show="done"><p>{{status}}</p></div>

<h1>Posted Campaigns</h1>
<hr>
<div class="row">
	
	<div class="col-md-2">
	<label for="AdName">The Advertising Tag</label>
	</div>
	
	<div class="col-md-2">
	<label for="CreatedDate">Posted Date</label>
	</div>
	
	<div class="col-md-2">
	<label for="ParticipationPrice">Participation Price</label>
	</div>
	
	<div class="col-md-2">
	<label for="AdImage">The Advertiser</label>
	</div>
	
	<div class="col-md-2">
	<label for="AdvertiserLikes">Likes</label>
	</div>
	
	<div class="col-md-2">
	<label for="AdvertiserLastUpdated">Last updated</label>
	</div>
	
</div>
 
<div class="row" ng-repeat="campaign in campaigns" style="margin-bottom:10px">
<form role="form" id="{{'form'+$index}}" name="{{'form'+$index}}" class="form-inline">
<div class="col-md-2">
	<div class="form-group">
	<label for="AdvetName">#{{campaign.name}}</label>
	</div>
</div>

<div class="col-md-2">
	<div class="form-group">
	<label for="CreatedDate">{{campaign.posteddate}}</label>
	</div>
</div>

<div class="col-md-2">
	<div class="form-group">
	<label for="ParticipationPrice">THB {{campaign.price}}</label>
	</div>
</div>

<div class="col-md-2" ng-if"campaign.instagram_url">	
	<a href="{{campaign.instagram_url}}" target="_blank"><img ng-cloak ng-src="http://advertiser.brandboost.asia/{{campaign.advert_image}}" width="100px" height="100px"/></a>
</div>
	
<div class="col-md-2" >
	<div class="form-group">
	<label for="AdLike">{{campaign.likes}}</label>	
	</div>
</div>

<div class="col-md-2" >
	<div class="form-group">
	<label for="LastUpdated">{{campaign.lastupdates}}</label>	
	</div>
</div>
	
</form>

</div>

</div>					    
									
					    	