<div ng-show="login">
<div style="padding:10px; border-radius:5px;" class="bg-success" ng-cloak ng-show="done"><p>{{status}}</p></div>

<h1>Requested Campaigns</h1>
<hr>
<div class="row">

	<div class="col-md-2">
	<label for="AdImage">The Advertiser</label>
	</div>

	<div class="col-md-2">
	<label for="AdName">Advertising Tag</label>
	</div>
	
	<div class="col-md-2">
	<label for="CreatedDate">Created Date</label>
	</div>
		
	<div class="col-md-2">
	<label for="ParticipationPrice">Participation Price</label>
	</div>
	
	<div class="col-md-1">
	<label for="Sendmailbel"></label>
	</div>
	<div class="col-md-1">
	<label for="EditAd"></label>
	</div>
	<div class="col-md-1">
	<label for="DeleteAd"></label>
	</div>
	
</div>
 
<div class="row" ng-repeat="campaign in campaigns" style="margin-bottom:10px">
<div class="col-md-2">	
	<button  onclick="adimage(this)" data-id="http://advertiser.brandboost.asia/{{campaign.advert_image}}" data-toggle="modal" data-target="#myModal"><img ng-cloak ng-src="http://advertiser.brandboost.asia/{{campaign.advert_image}}" width="100px" height="100px"/></button>
</div>

<form role="form" id="{{'form'+$index}}" name="{{'form'+$index}}" class="form-inline"  ng-submit="postAd(campaign)">

<div class="col-md-2">
	<div class="form-group">
	<label for="AdvetName">#{{campaign.name}}</label>
	</div>
</div>

<div class="col-md-2">
	<div class="form-group">
	<label for="CreatedDate">{{campaign.createddate}}</label>
	</div>
</div>

<div class="col-md-2">
	<div class="form-group">
	<label for="ParticipationPrice">THB {{campaign.price}}</label>
	</div>
</div>

<div class="col-md-1" >
	<div class="form-group">
	<button  ng-if="campaign.status == 0" class="btn btn-primary"  type="submit">send  email</button>
	<button  ng-if="campaign.status == 1" class="btn btn-success"  type="submit">resend  email</button>
	</div>
</div>
</form>

</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <img src="" id="myadimage" class="img-responsive">
        </div>
    </div>
  </div>
</div>

</div>
<script type="text/javascript">

function adimage(identifier) { 
	var src = $(identifier).data('id');
	$('img#myadimage').attr('src', src);
}

function centerModal() {
    $(this).css('display', 'block');
    var $dialog = $(this).find(".modal-dialog");
    var offset = ($(window).height() - $dialog.height()) / 2;
    // Center modal vertically in window
    $dialog.css("margin-top", offset);
}

$('.modal').on('show.bs.modal', centerModal);

$(window).on("resize", function () {
    $('.modal:visible').each(centerModal);
});

</script>    
									
					    	