<div ng-show="login" class="row" style="padding:50px;">
<div class="col-md-2"></div>
  
<div class="col-md-8">
		<div class="col-md-12" ng-show="done"><p style="padding:10px; border-radius:5px;" class="btn-warning">{{status}}</p><br/><br/></div>
		
		<div class="col-md-12">
		<img src="/assets/instagram.png" alt="Instagram logo" class="pull-right">
		<span style="margin-right:20px;" class="text-center pull-right"><h2>welcome <span> {{influencer.username}}</span></h2></span>
        </div>
       
        <div class="col-md-12">
        <h4>Please list out all the interestes here.</h4>
        <br/>
        	<div ng-repeat="item in interests" class="interests col-md-3">
        
        <input  type="checkbox" ng-model="checkStatus" 
        		ng-init="checkStatus = checkIfChecked(item)"
        		ng-click="updateInterest(item, checkStatus)"><span class="icon-{{checkStatus}}"> <i class="fa {{item.icon}} fa-2x"></i> {{item.name}} </span>
        	</div>
        		
        </div>
        
        <div class="col-md-12"><br/><br/>
        <button class="btn btn-lg btn-primary" ng-click="goProfile()">Continue</button>
        </div>
        
</div>
<div class="col-md-2"></div>
</div>