<div class="row" style="padding:50px;">
<div class="col-md-2"></div>
  
<div class="col-md-6">
<button class="btn btn-default" ng-click="login(instagram)">Login with Instagram</button>
<hr>
</br>TEST Account : user = thebigdotdev
</br>TEST Account : user = tbddev
</div>
  
<div class="col-md-4"></div>
</div>