<div class="container-fluid">
<div class="row border-radius 5" style="padding:50px;">
<div class="col-md-2"></div>
  
<div class="col-md-6">
<form role="form">
<fieldset>
<legend>Please sign up</legend>
<div class="alert alert-warning alert-dismissible" role="alert" ng-show="error">
  <button type="button" class="close" data-dismiss="alert">
  	<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  </button>
  <strong>Warning!</strong> {{error}}
</div>

<div class="form-group">
	<label for="instagramEmail">Email address</label>
    <input class="form-control" type="email" name="email" ng-model="instagram.email" required placeholder="email"/>
</div>
	<button class="btn btn-default" ng-click="signup(instagram)">Signup with Instagram</button>
</fieldset>
</form>
</div>
  
<div class="col-md-4"></div>
</div>
</div>