html, body, div, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, ul, li {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
	font-weight:normal;
	list-style:none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }

::-webkit-input-placeholder { color:#fff; }
:-moz-placeholder { color:#fff; }
::-moz-placeholder { color:#fff; }
::-o-placeholder { color:#fff; }
::placeholder { color:#fff; }
:-ms-input-placeholder { color:#fff; }
input:focus, textarea:focus, select:focus { -webkit-appearance:none; -moz-appearance:none; -o-appearance:none; appearance:none; box-shadow:none; outline:none; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: block; }

h1 { font-size:45px; font-family: 'Comfortaa', cursive; text-transform:uppercase; }
h6 { font-size:20px; font-family: 'Open Sans', sans-serif; }

body { font-family: 'Open Sans', sans-serif; font-size:15px; font-weight:400; color:#5b5b5b; padding:0; margin:0; text-size-adjust: none ; -webkit-text-size-adjust:none; }
a { color:#074ddc; text-decoration:none; outline:none; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }
a:hover { color:#5b5b5b; }

.container { margin:0 auto; width:1000px; }

/****** Home Page ******/

.top-head { padding:30px 0; background:#fff; position:fixed; z-index:3; width:100%; top:0; box-shadow:0 0 2px rgba(0, 0, 0, 0.2); }
.login_box { position:absolute; right:20px; top:25px; }
.login_box a { cursor:pointer; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; text-align:center; background:#172747; display:block; font-size:12px; font-family: 'Comfortaa', cursive; letter-spacing:.8px; color:#fff; text-transform:uppercase; padding:7px 25px; -webkit-border-radius:15px; -moz-border-radius:15px; border-radius:15px; }
.login_box a:hover { background:#074dde; }
.login-dropdown { z-index:1; display:none; position:absolute; right:0; top:37px; background:#fff; border:1px solid #dedede; width:125px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; }
.login-dropdown:after { background:url(../images/dropdown-arrrow.png) top center no-repeat; content:""; position:absolute; right:20px; top:-8px; height:8px; width:16px; }


.login-dropdown li { border-bottom:1px solid #e5e5e5; }
.login-dropdown li:last-child { border-bottom:0; }
.login-dropdown a { background:none; color:#3b3b3b; padding:10px; text-align:left; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }
.login-dropdown a:hover { background:none; color:#0853e0; }


.logo { float:left; width:182px; }
.main-nav { text-align:center; float:left; margin:0 50px; }
.main-nav li { display:inline-block; padding:0 30px 0 0; }
.main-nav li:last-child { padding:0; }
.main-nav li a { color:#585858; font-size:13px; font-family: 'Comfortaa', cursive; letter-spacing:.8px; text-decoration:none; text-transform:uppercase; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }
.main-nav li a:hover { color:#0853e0; }
.mobile-nav { display:none; float:right; }
.mobile-nav a { background:#074dde; display:block; padding:34px; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }
.mobile-nav a:hover { background:#172747; }

.language { float:right; }
.language a { font-size:13px; font-family: 'Comfortaa', cursive; letter-spacing:.8px; color:#262626; border-right:1px solid #ccc; display:inline-block; padding:0 10px; }
.language a:last-child { border:none; padding:0 0 0 10px; }
.language a:hover, .language .active { color:#0853e0; }

.slider { margin-top:89px; width:100%; }

.rslides { position: relative; float:left; list-style: none; overflow: hidden; width: 100%; padding: 0; margin:0; top: 0; display:table-cell; vertical-align:middle; }
.rslides li { -webkit-backface-visibility: hidden;position: absolute; display: none; width: 100%; left: 0; top: 0; vertical-align:middle; }
.rslides li:first-child {position: relative;display: block;float: left;}
.rslides li .container { position:relative; }
.rslides img { display: block; margin: 0 auto; /* float: left;width: 100%;*/ border: 0; position:absolute; top:0; right:0; }
.slider-content { position:relative; z-index:1; vertical-align: middle; color:#fff; top:0; right:0; display:table-cell; width:499px; background: url("../images/slider-text-bg.jpg") 0 0 no-repeat; background-size:cover; }
.slider-content .wrapper { vertical-align: middle; background:rgba(0,70,255,.7); text-align:center; padding:80px 50px; }
.slider-content .wrapper h1 { padding-bottom:10px; }
.slider-content .wrapper article { padding-bottom:40px; }
.align-right { position:absolute; right:0; top:0; z-index:2; }
.prev { -moz-transition:inherit; -webkit-transition:inherit; -o-transition:inherit; transition:inherit; top:50%; left:2%; text-indent: -99999px; position: absolute; z-index:9999; margin:0; background: url("../images/slider-navigation.png") 0 0 no-repeat; width:25px; height:78px; }
.next { -moz-transition:inherit; -webkit-transition:inherit; -o-transition:inherit; transition:inherit; top:50%; right:2%; text-indent: -99999px; position: absolute; z-index:9999; margin:0; background: url("../images/slider-navigation.png") -25px 0 no-repeat; width:25px; height:78px; }	
.prev:hover { background-position:0 -78px; }
.next:hover { background-position:-25px -78px; }

.slider a.advertisers { -webkit-transition: 500ms ease; -moz-transition: 500ms ease; -o-transition: 500ms ease; transition: 500ms ease; letter-spacing:0.8px; margin-right:10px; background:none; border:2px solid #7094f7; font-size:15px; font-weight:700px; text-transform:uppercase; color:#fff; padding:10px 40px; text-align:center; -webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px; display:inline-block; }
.slider a.advertisers:hover { -webkit-transform: scale(1.08); -moz-transform: scale(1.08); -o-transform: scale(1.08); transform: scale(1.08); background:#fff; color:#2d1653; border:2px solid #fff; }
.slider a.ad-process { -webkit-transition: 500ms ease; -moz-transition: 500ms ease; -o-transition: 500ms ease; transition: 500ms ease; letter-spacing:0.8px; background:#2d1653; font-size:15px; font-weight:700px; text-transform:uppercase; color:#fff; padding:10px 40px; text-align:center; -webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px; display:inline-block; }
.slider a.ad-process:hover { -webkit-transform: scale(1.08); -moz-transform: scale(1.08); -o-transform: scale(1.08); transform: scale(1.08); background:#fff; color:#2d1653; }

.content-wrapper { width:100%; position:relative; background:#fff; z-index:2; margin-top:900px; }
.content-wrapper.sub { margin-top:296px; }
.page-title { padding:75px 0; margin-top:89px; }
.page-title.influencers-bg { background:url(../images/page-title-bg1.jpg) top center no-repeat; background-size:cover; }

.what-we-do { padding:120px 0; background:url(../images/parallax-bg1.jpg) bottom center no-repeat; background-attachment:fixed; background-size:cover; }
.what-we-do h1 { color:#333; text-align:center; padding-bottom:30px; }
.what-we-do h6 { color:#5b5b5b; text-align:center; padding-bottom:20px; font-weight:600; }
.what-we-do article { text-align:center; width:850px; margin:0 auto; }

.adevertisers-influencers { position:relative; }
.adevertisers { float:left; width:50%; background:url(../images/adevertisers_img.jpg) -220px top no-repeat; background-size:auto 100%; -webkit-transition: all .5s; -moz-transition: all .5s; -o-transition: all .5s; transition: all .5s; }
.adevertisers:hover { background-size:auto 105%; }
.adevertisers-content { text-align:justify; color:#fff; float:right; width:37%; padding:110px 6% 149px 6%; background:#074ddc url(../images/adevertisers-content-bg.jpg) bottom left no-repeat; }
.adevertisers-content h1 { padding-bottom:10px; color:#cedcf8; }
.adevertisers-content h6 { padding-bottom:20px; color:#f6f6f6; text-align:left; }
.adevertisers-content article { padding-bottom:40px; line-height:24px;}
.adevertisers-content a.read-more { -webkit-transition: 500ms ease; -moz-transition: 500ms ease; -o-transition: 500ms ease; transition: 500ms ease; letter-spacing:0.8px; margin-bottom:10px; background:#2d1653; font-size:15px; font-weight:700px; text-transform:uppercase; color:#fff; display:block; padding:10px 0; text-align:center; -webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px; }
.adevertisers-content a.read-more:hover { -webkit-transform:scale(1.1); transform:scale(1.1); background:#fff; color:#2d1653; }
.adevertisers-content a.join-as { -webkit-transition: 500ms ease; -moz-transition: 500ms ease; -o-transition: 500ms ease; transition: 500ms ease; letter-spacing:0.8px; background:#none; border:1px solid #4f76c5; font-size:15px; font-weight:700px; text-transform:uppercase; color:#fff; display:block; padding:10px 0; text-align:center; -webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px; }
.adevertisers-content a.join-as:hover { -webkit-transform:scale(1.1); transform:scale(1.1); background:#fff; color:#2d1653; border:1px solid #fff; }

.influencers { float:left; width:50%;  background:url(../images/influencers_img.jpg) left top no-repeat; background-size:auto 100%; -webkit-transition: all .5s; -moz-transition: all .5s; -o-transition: all .5s; transition: all .5s; }
.influencers:hover { background-size:auto 105%; }
.influencers-content { text-align:justify; color:#5b5b5b; float:right; width:37%; padding:110px 6% 139px 6%; background:#f8f9fc url(../images/influencers-content-bg.jpg) bottom left no-repeat; }
.influencers-content h1 { padding-bottom:10px; color:#313232; }
.influencers-content h6 { padding-bottom:20px; color:#5b5b5b; text-align:left; }
.influencers-content article { padding-bottom:40px; line-height:24px;}
.influencers-content a.read-more { -webkit-transition: 500ms ease; -moz-transition: 500ms ease; -o-transition: 500ms ease; transition: 500ms ease; letter-spacing:0.8px; margin-bottom:20px; background:#074ddc; font-size:15px; font-weight:700px; text-transform:uppercase; color:#fff; display:block; padding:10px 0; text-align:center; -webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px; }
.influencers-content a.read-more:hover { -webkit-transform:scale(1.1); transform:scale(1.1); background:#172747; color:#fff; }
.influencers-content a.join-as { -webkit-transition: 500ms ease; -moz-transition: 500ms ease; -o-transition: 500ms ease; transition: 500ms ease; letter-spacing:0.8px; border:1px solid #172747; font-size:15px; font-weight:700px; text-transform:uppercase; color:#555556; display:block; padding:10px 0; text-align:center; -webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px; }
.influencers-content a.join-as:hover { -webkit-transform:scale(1.1); transform:scale(1.1); color:#074ddc; border:1px solid #172747; color:#fff; background:#172747; }

.our-partners { padding:120px 0; }
.our-partners h1 { color:#333; text-align:center; padding-bottom:60px; }

#carousel div { background:#f3f3f3; border-bottom:1px solid #ededed; border-top:1px solid #ededed; vertical-align:middle; float: left; position: relative; }
#carousel div.even { background:#fff; }
#carousel div.odd { background:#f3f3f3; }
#carousel div a { width: 319px; height: 323px; display:table-cell; vertical-align:middle; text-align: center; }
#carousel div img { border: none; vertical-align:middle;
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
filter: gray; /* IE6-9 */
-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
-webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
-moz-transition: all .6s ease;
-o-transition: all .6s ease;
transition: all .6s ease;
-webkit-backface-visibility: hidden; /* Fix for transition flickering */ }
#carousel div span { display: none; text-align: center; }
#carousel div:hover span { background-color: #333; color: #fff; font-family: 'Comfortaa', cursive; font-size: 14px; line-height: 22px; display: inline-block; width: 100px; padding: 2px 0; margin: 0 0 0 -50px; position: absolute; bottom: 30px; left: 50%; -webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px; }
#carousel div:hover img { filter: none; -webkit-filter: grayscale(0%); }

.about { padding:120px 0; background:url(../images/parallax-bg2.jpg) top center no-repeat; color:#fff; background-attachment:fixed; background-size:cover; }
.about h1 { color:#fff; padding-bottom:30px; }
.about h6 { color:#fff; padding-bottom:20px; font-weight:600; }
.about-content { float:left; width:24%; padding:0 0 0 16%; }
.about-content article { padding-bottom:40px; }
.about-content a.join-us { -webkit-transition: 500ms ease; -moz-transition: 500ms ease; -o-transition: 500ms ease; transition: 500ms ease; display:inline-block; letter-spacing:0.8px; background:#2d1653; font-size:15px; font-weight:700px; text-transform:uppercase; color:#fff; padding:10px 40px; text-align:center; -webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px; }
.about-content a.join-us:hover { -webkit-transform:scale(1.1); transform:scale(1.1); background:#fff; color:#074ddc; }

/* ============================================================
  GLOBAL
============================================================ */
.team-list { padding-left: 15px; float:right; width:50%; }
.team-list .img { position: relative; float: left; width: 33.33%; overflow: hidden; }
.team-list .img img { -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -o-transition: all 0.4s ease; transition: all 0.4s ease; overflow:hidden; display: block; margin: 0; padding: 0; width: 100%; height: auto; }
.team-list .img:hover img { -webkit-transform:scale(1.1); transform:scale(1.1); }

.overlay { display: block; position: absolute; z-index: 20; background: rgba(23,39,71,0.8); overflow: hidden; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
a.close-overlay { display: block; position: absolute; top: 0; right: 0; z-index: 100; width: 45px; height: 45px; font-size: 20px; font-weight: 700; color: #fff; line-height: 45px; text-align: center; background-color: #000; cursor: pointer; }
a.close-overlay.hidden { display: none; }
a.expand { display: block; position: absolute; z-index: 100; width: 60px; height: 60px; border: solid 5px #fff; text-align: center; color: #fff; line-height: 50px; font-weight: 700; font-size: 30px; -webkit-border-radius: 30px; -moz-border-radius: 30px; -ms-border-radius: 30px; -o-border-radius: 30px; border-radius: 30px; }

/* ============================================================
  EFFECT 1 - SLIDE IN BOTTOM
============================================================ */
#team .overlay { bottom: 0; left: 0; right: 0; width: 100%; text-align:center; color:#fff; height: 0; }
#team .overlay h4 { font-size:22px; padding:15px 0 0 0; }
#team .overlay span.post { font-size:13px; line-height:normal; padding-bottom:10px; display:block; }
#team .overlay .social { display:block; text-align:center; }
#team .overlay .social li { display:inline-block; }
#team .overlay .social li a { float:left; color:#fff; text-indent:-9999px; width:29px; height:29px; padding:0; margin:0 3px; -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; }
#team .overlay .social li a.facebook { background:url(../images/social-icon.png) left top no-repeat; }
#team .overlay .social li a.facebook:hover { background-position:left bottom; }
#team .overlay .social li a.twitter { background:url(../images/social-icon.png) -33px top no-repeat; }
#team .overlay .social li a.twitter:hover { background-position:-33px bottom; }
#team .overlay .social li a.g-plus { background:url(../images/social-icon.png) -66px top no-repeat; }
#team .overlay .social li a.g-plus:hover { background-position:-66px bottom; }
#team .overlay a.expand { left: 0; right: 0; bottom: 50%; margin: 0 auto -30px auto; }
#team .img.hover .overlay { height: 45%; }

.blog-press { padding:120px 0; background:#f7f7f7 url(../images/parallax-bg3.jpg) top left no-repeat; background-attachment:fixed; background-size:cover; }
.blog-press h1 { color:#333; text-align:center; padding-bottom:30px; }
.post-list li { float:left; width:322px; margin-right:17px; }
.post-list li:last-child { margin-right:0; }
.post-list li .post-content { padding:0 20px; }
.post-list li .post-content article { text-align:justify; padding-bottom:25px; }
.date { margin:-50px 0 0 0; background:#0645d1; text-transform:uppercase; color:#fff; display:inline-block; width:75px; height:75px; text-align:center; font-size:33px; font-weight:600; font-family: 'Open Sans', sans-serif; }
.date span { font-size:13px; display:block; font-weight:400; }
.post-list li h2 { font-family: 'Open Sans', sans-serif; font-weight:600; font-size:18px; color:#585858; padding:20px 0; }
.post-list li .posted-time { color:#7f7f7f; font-size:12px; line-height:18px; padding-bottom:20px; display:block; }
.post-list li a.read-more { -webkit-transition: 500ms ease; -moz-transition: 500ms ease; -o-transition: 500ms ease; transition: 500ms ease; background:#0645d1; display:inline-block; font-family: 'Comfortaa', cursive; font-size:11px; text-transform:uppercase; letter-spacing:0.8px; color:#fff; padding:10px 25px; -webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px; }
.post-list li a.read-more:hover { -webkit-transform:scale(1.1); transform:scale(1.1); background:#172747; }

.contact-us { padding:120px 0 0 0; }
.contact-us h1 { color:#333; text-align:center; padding-bottom:30px; }
.contact-us h6 { color:#5b5b5b; text-align:center; padding-bottom:20px; font-weight:400; }
.contact-us article { text-align:center; }
.contact-us .map { background:url(../images/map.jpg) top center no-repeat; margin-top:50px; background-size:cover; }
.contact-us .map img { width:100%; }
.contact-form { float:right; background:url(../images/contact-form-bg.jpg) top center no-repeat; width:340px; padding:80px; color:#fff; }
.contact-form .link { font-size:14px; line-height:24px; }
.contact-form .link a { color:#19beff; }
.contact-form .link a:hover { color:#fff; }
.contact-form .text-field { -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in;  font-family: 'Open Sans', sans-serif; font-size:14px; color:#fff; padding:9px 18px; width:298px; margin-bottom:10px; border:1px solid #497de6; background:none; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -webkit-appearance: none; }
.contact-form textarea { -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; font-family: 'Open Sans', sans-serif; font-size:14px; color:#fff; padding:12px 18px; width:298px; height:90px; margin-bottom:10px; border:1px solid #497de6; background:none; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -webkit-appearance: none; resize:none; }
.contact-form .text-field:focus, .contact-form textarea:focus { border:1px solid #6c98f2; }
.contact-form .button { appearance:button; -moz-appearance:button; /* Firefox */ -webkit-appearance:button; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; background:#142c6a; border:none; display:block; width:100%; font-size:16px; color:#fff; text-transform:uppercase; margin-bottom:20px; padding:13px 0; cursor:pointer; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; }
.contact-form .button:hover { background:#fff; color:#0645d1; }
.copyright { font-size:13px; color:#7d7d7d; text-align:center; padding:70px 0; }

.instagram-influencers { padding:120px 0 0 0; }
.instagram-influencers h1 { text-align:center; padding-bottom:60px; }
.instagram-box { position:relative; padding:120px 0; } 
.instagram-box:before { content:""; position:absolute; left:0; top:0; height:100%; width:50%; z-index:-1; background:url(../images/instagram-left-bg.jpg) left bottom no-repeat; background-size:50% auto; background-attachment:fixed; }
.instagram-box:after { content:""; position:absolute; right:0; top:0; height:100%; width:50%; z-index:-1; background:url(../images/instagram-right-bg.jpg) right bottom no-repeat; background-size:50% auto; background-attachment:fixed; }
.instagram-box li { float:left; width:460px; padding:20px; }
.instagram-box li.even { background-color: rgba(246,246,246,0.9); }
.instagram-box li.odd { background-color: rgba(8,12,52,0.9); }
.instagram-box li .content { min-height:225px; padding:25px 35px; font-size:14px; }
.instagram-box li.even .content { border:1px solid #d1d1d0; color:#5b5b5b; }
.instagram-box li.odd .content { border:1px solid #414462; color:#fff; }
.instagram-box li .content img { padding-bottom:10px; display:block; }
.instagram-box li.even .content h2 { padding-bottom:20px; font-size:20px; color:#080c34; }
.instagram-box li.odd .content h2 { padding-bottom:20px; font-size:20px; color:#fff; }

h5.ui-accordion-header{ padding:15px 0 20px 35px; font-size:18px; background:url(../images/collapse-icon.png) 0 20px no-repeat; cursor:pointer; border-top:1px solid #e0e0e0; }
h5.ui-accordion-header:first-child{ border-top:0; }
h5.ui-accordion-header:hover{ background:url(../images/collapse-icon-hover.png) 0 20px no-repeat; color:#0f74fb; }
h5.ui-accordion-header-active{ background:url(../images/expanded-icon.png) 0 20px no-repeat; color:#0f74fb;}
h5.ui-accordion-header-active:hover { background:url(../images/expanded-icon.png) 0 20px no-repeat; color:#0f74fb; }
.ui-accordion-content{ padding:0 0 15px 35px; font-size:14px; }

.joinas-btn { padding:120px 0; background:url(../images/parallax-bg4.jpg) top center no-repeat; background-size:cover; background-attachment:fixed; }
.joinas-btn a.join-now { -webkit-transition: 500ms ease; -moz-transition: 500ms ease; -o-transition: 500ms ease; transition: 500ms ease; letter-spacing:0.8px; display:block; padding:20px 0; margin:0 auto; width:530px; font-size:19px; color:#fff; text-align:center; background:#1c5ac7; -webkit-border-radius:50px; -moz-border-radius:50px; border-radius:50px; }
.joinas-btn a.join-now:hover { -webkit-transform:scale(1.1); transform:scale(1.1); background-color: rgba(23,39,71,0.8); color:#fff; }

.influencers-faq { padding:120px 0; background:url(../images/parallax-bg1.jpg) bottom center no-repeat; background-attachment:fixed; background-size:cover; }
.influencers-faq h1 { color:#333; text-align:center; padding-bottom:30px; }

.page-banner { padding-top:80px; background:url(../images/parallax-bg5.jpg) top center no-repeat; background-size:cover; }
.page-banner img { display:block; }

.advertising-process { position:relative; padding:120px 0; }
.advertising-process:before { content:""; position:absolute; left:0; top:0; height:100%; width:50%; z-index:-1; background:url(../images/advertising-process-left-bg.jpg) left 50px no-repeat; background-size:50% auto; background-attachment:fixed; }
.advertising-process:after { content:""; position:absolute; right:0; top:0; height:100%; width:50%; z-index:-1; background:url(../images/advertising-process-right-bg.jpg) right top no-repeat; background-size:50 auto; background-attachment:fixed; }
.advertising-process .left { margin-top:100px; background-color: rgba(7,77,220,0.9); float:left; width:460px; padding:20px; }
.advertising-process .left .content { border:1px solid #4277e4; padding:140px 20px 150px 20px; text-align:center; }
.advertising-process .left .content h1 { color:#fff; line-height:62px; padding-bottom:18px; font-size:55px; }
.advertising-process .left .content li { display:inline-block; margin-right:5px; }
.advertising-process .left .content li a { padding:6px 14px; font-size:18px; display:inline-block; color:#7199eb; border:1px solid #7199eb; -webkit-border-radius:50px; -moz-border-radius:50px; border-radius:50px; }
.advertising-process .left .content li a:hover { color:#fff; border:1px solid #fff;}
.advertising-process .left .content li a.active { color:#fff; border:1px solid #fff;}
.advertising-process .right { float:right; width:500px; }
.advertising-process .right li { padding:50px; display:block; color:#c0bacc; }
.advertising-process .right li h2 { font-family: 'Comfortaa', cursive; text-transform:uppercase; font-size:22px; color:#fff; }
.advertising-process .right li .content { padding-left:80px; }
.advertising-process .right li.goal-reach { background-color: rgba(45,22,83,0.7) }
.advertising-process .right li.goal-reach .icon { background:url(../images/goal-icon.png) bottom center no-repeat; width:55px; height:55px; float:left; margin-right:20px; }
.advertising-process .right li.target { background-color: rgba(45,22,83,0.8); }
.advertising-process .right li.target .icon { background:url(../images/target-icon.png) bottom center no-repeat; width:55px; height:55px; float:left; margin-right:20px; }
.advertising-process .right li.manage-campaign { background-color: rgba(45,22,83,0.9); }
.advertising-process .right li.manage-campaign .icon { background:url(../images/thumbsup-icon.png) bottom center no-repeat; width:55px; height:55px; float:left; margin-right:20px; }
.advertising-process .right li.reporting-tracking { background-color: rgba(45,22,83,24); }
.advertising-process .right li.reporting-tracking .icon { background:url(../images/reporting-icon.png) bottom center no-repeat; width:55px; height:55px; float:left; margin-right:20px; }
.advertising-process .right li.goal-reach:hover, .advertising-process .right li.target:hover,
.advertising-process .right li.manage-campaign:hover, .advertising-process .right li.reporting-tracking:hover,
.advertising-process .right li.white-bg { background:#fff; color:#5b5b5b; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }
.advertising-process .right li.white-bg h2 { color:#074ddc;}
.advertising-process .right li.goal-reach:hover .icon, .advertising-process .right li.target:hover .icon,
.advertising-process .right li.manage-campaign:hover .icon, .advertising-process .right li.reporting-tracking:hover .icon,
.advertising-process .right li.white-bg .icon, .advertising-process .right li:hover h2 { background-position:top center; color:#074ddc; }

.services { background:url(../images/parallax-bg6.jpg) top center no-repeat; background-size:cover; background-attachment:fixed; }
.services h1 { color:#fff; text-align:center; }
.services .container { padding:20px; width:960px; background:rgba(7,77,220,0.9) url(../images/services-bg.png) bottom center no-repeat; background-attachment:fixed; }
.services .container .tabs { border:1px solid #4b79d5; padding:80px 130px; color:#fff; min-height:460px; }
.services .container .tabs h2 { font-size:31px; font-family: 'Open Sans', sans-serif; font-weight:400; letter-spacing:-0.5px; text-align:center; }
.services .container .tabs h6 { font-size: 18px; font-family: 'Open Sans', sans-serif; font-weight:400; text-align:center; }
#tabs ul{ margin:50px 0; text-align:center; }
#tabs ul li{ display:inline-block; margin:10px 7px; width:30%; }
#tabs ul li a{ -webkit-transition: 500ms ease; -moz-transition: 500ms ease; -o-transition: 500ms ease; transition: 500ms ease; color:#fff; border:1px solid #4276e2; text-decoration:none; font-size:14px; letter-spacing:.8px; text-transform:uppercase; display:block; padding:10px 0; -webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px; }
#tabs ul li a:hover{ -webkit-transform:scale(1.05); transform:scale(1.05); color:#fff; border:1px solid #210f40; background: #210f40; }
#tabs ul li.ui-tabs-active a{ color:#fff; border:1px solid #210f40; background: #210f40; }
#tabs h1{ font-size:80px; line-height:80px; letter-spacing:-3px; color:#fff; margin:0 0 30px 0; }

.open-account-btn { padding:120px 0; background:url(../images/parallax-bg7.jpg) top center no-repeat; background-size:cover; background-attachment:fixed; }
.open-account-btn h1 { text-align:center; }
.open-account-btn h6 { text-align:center; padding-bottom:50px; font-size:18px; }
.open-account-btn a { -webkit-transition: 500ms ease; -moz-transition: 500ms ease; -o-transition: 500ms ease; transition: 500ms ease; display:block; padding:20px 0; margin:0 auto; width:330px; font-size:15px; color:#fff; text-transform:uppercase; text-align:center; background:#074ddc; -webkit-border-radius:50px; -moz-border-radius:50px; border-radius:50px; }
.open-account-btn a:hover { -webkit-transform:scale(1.1); transform:scale(1.1); background:#172747; color:#fff; }
.caroufredsel_wrapper { width:auto !important; }

@media (max-width: 1500px){
	.adevertisers-content h1, .influencers-content h1 { font-size:35px; }
	.team-list { width:55%; }
	#team .overlay h4 { font-size:18px; padding:10px 0 0 0; }
	.adevertisers { background-position:-300px top; }
	.influencers { background-position:-70px top; }
	.adevertisers-content, .influencers-content { height:390px; padding:110px 6% 110px; }
}

@media (max-width: 1230px){
	.main-nav { margin:0 30px; }
	.main-nav li { padding:0 20px 0 0; }
	.language { float:left; }
	.adevertisers-content h1, .influencers-content h1 { font-size:28px; }
	.adevertisers-content h6, .influencers-content h6 { font-size:18px; }
	.about-content { padding:0 0 0 4%; }
	.team-list { width:65%; }
	.advertising-process:before { background-position:left top; }
	.main-nav {margin:0 40px;}
	.main-nav li { padding:0 15px 0 0; }
}

@media (max-width: 1023px){
	h1 { font-size:35px; }
	.container { margin:0 auto; width:95%; }
	.login_box { float:right; position:relative; top:0; right:0; margin-right:10px; }
	.main-nav { width:270px; display:none; position:absolute; top:90px; right:0; margin:0; z-index:1; background:#172747; text-align:left; }
	.main-nav li { display:block; padding:0; border-bottom:1px solid #1d2f53; }
	.main-nav li a { display:block; padding:15px; color:#fff; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }
	.main-nav li a:hover { background:#074ddc; color:#fff; }
	.mobile-nav { display:block; position:absolute; top:0; right:0; }
	.language { float:right; margin:0 90px 0 0; }
	.slider-content .wrapper { padding:30px; }
	.content-wrapper { margin-top:588px; }
	.what-we-do h1, .what-we-do h6 { padding-bottom:10px; }
	.what-we-do article { width:100%; }
	.what-we-do { background-attachment:inherit; }
	.adevertisers-influencers { display:block; }
	.adevertisers { width:100%; }
	.influencers { width:100%; }
	.adevertisers-content h1, .influencers-content h1 { font-size:35px; }
	.adevertisers-content h6, .influencers-content h6 { font-size:20px; }
	.our-partners h1 { padding-bottom:30px; }
	.about { background-attachment:inherit; }
	.about-content { width:90%; padding:0 5%; }
	#team .img.hover .overlay { height: 40%; }
	.team-list { width:100%; padding:50px 0 0 0;}
	.blog-press { background-attachment:inherit; }
	.blog-press h1 { padding-bottom:20px; }
	.post-list li { width:32%; margin-right:1.5%; }
	.post-list li:last-child { margin:0; }
	.post-list li img { width:100%; }
	.post-list li .post-content { padding:0 10px; }
	.contact-us h1 { padding-bottom:10px; }
	.contact-us h6 { font-size:18px; }
	.copyright { padding:30px 0;}
	.content-wrapper.sub { margin-top:284px; }
	.advertising-process { background:url(../images/advertising-process-left-bg.jpg) left top no-repeat; background-size:cover; background-attachment:inherit; }
	.advertising-process:before { background:none;}
	.advertising-process:after { background:none;}
	.advertising-process .left { margin:0 auto; float:none; }
	.advertising-process .right { margin:0 auto; float:none; }
	.advertising-process .left .content { padding:50px 20px; }
	.advertising-process .right li { padding:30px; }
	.services { background-attachment:inherit; }
	.services .container { background-attachment:inherit; }
	.services .container { width:85%; padding:5%; }
	.services .container .tabs { padding:5% 10%; min-height:inherit;}
	#tabs ul { margin:10px 0; }
	#tabs ul li { width:35%; }
	.advertising-process .left .content h1 { font-size:45px; }
	.open-account-btn { background-attachment:inherit; }
	.open-account-btn h6 { padding-bottom:10px; }
	.open-account-btn a { width:80%; padding:15px 0; }
	.instagram-box { background:url(../images/instagram-left-bg.jpg) center bottom no-repeat; background-size:cover; background-attachment:inherit; }
	.instagram-box:before { background:none; }
	.instagram-box:after { background:none; }
	.instagram-influencers h1 { padding-bottom:20px; }
	.instagram-box li { padding:2%; width:46%; }
	.instagram-box li .content { min-height:265px; }
	.influencers-faq .container { width:90%; }
	.influencers-faq { background-attachment:inherit; background-size:cover; background-position:left top; }
	.influencers-faq h1 { padding-bottom:0px; }
	.joinas-btn a.join-now { width:80%; padding:15px 0; font-size:15px; }
	.joinas-btn { background-attachment:inherit; }
	.adevertisers {-webkit-transition:inherit; -moz-transition:inherit; -o-transition:inherit; transition:inherit;}
	.adevertisers:hover { background-size:auto 100%; }
	.influencers {-webkit-transition:inherit; -moz-transition:inherit; -o-transition:inherit; transition:inherit;}
	.influencers:hover { background-size:auto 100%; }
}

@media (max-width: 767px){
	h1 { font-size:28px; }
	.slider-content .wrapper article { padding-bottom:15px; }
	.what-we-do { padding:30px 0; }
	.what-we-do h6 { font-size:18px; }
	.adevertisers-content, .influencers-content { padding:50px 6%; height:inherit; }
	.adevertisers-content h1, .influencers-content h1 { font-size:28px; }
	.adevertisers-content h6, .influencers-content h6 { font-size:18px; }
	.our-partners { padding:50px 0; }
	#carousel div a { width:223px; height:219px; }
	#carousel div a img { width:60%; height:auto; }
	.about { padding:50px 0; }
	#team .img.hover .overlay { height: 55%; }
	.blog-press { padding:30px 0; }
	.post-list { width:80%; margin:0 auto; }
	.post-list li { margin:0 0 20px 0; width:100%; }
	.contact-us{ padding:30px 0 0 0; }
	.contact-form { margin:0 auto; float:none; }
	.content-wrapper.sub { margin-top:275px; }
	.advertising-process { padding:30px 0; }
	.advertising-process .left .content h1 { font-size:40px; }
	.services .container .tabs { padding:5%; }
	#tabs ul li { width:46%; }
	.services .container .tabs h2 { font-size:22px; }
	.services .container .tabs h6 { font-size:16px; }
	.open-account-btn { padding:30px 0; }
	.instagram-influencers { padding:30px 0 0 0; }
	.instagram-box { padding:30px 0; }
	.instagram-box li { width:96%; }
	.instagram-box li .content { min-height:inherit; text-align:center; }
	.instagram-box li .content img { display:inline-block; }
	.instagram-box li.even .content h2, .instagram-box li.odd .content h2 { padding-bottom:10px; }
	.influencers-faq { padding:30px 0; }
}

@media (max-width: 567px){
	.logo { width:150px; margin-bottom:5px; }
	.logo img { width:150px; height:auto; }
	.top-head { padding:10px 0; }
	.main-nav { top:72px; }
	.mobile-nav a { padding:25px; }
	.slider { margin-top:70px; }
	.page-title { margin-top:70px; }
	.page-title { padding:40px 0; }
	.rslides li .container { width:85%; }
	.slider-content { width:auto; }
	.slider-content .wrapper { padding:20px; }
	.content-wrapper { margin-top:572px; }
	.slider a.advertisers { padding:10px 0; margin:0 auto 10px auto; display:block; float:none; width:80%; }
	.slider a.ad-process { padding:10px 0; margin:0 auto; display:block; float:none; width:80%; }
	.adevertisers { background-position:center top; background-size:auto; }
	.adevertisers:hover { background-size:auto; }
	.influencers { background-position:left top; background-size:auto; }
	.influencers:hover { background-size:auto; }
	.adevertisers-content, .influencers-content { width:88%; padding:30px 6%; margin-top:450px; }
	.team-list .img { width:100%; }
	#team .img.hover .overlay { height: 30%; }
	.contact-form { width:80%; padding:10%; }
	.contact-form .text-field, .contact-form textarea { padding:9px 5%; width:90%; }
	.login_box { position:absolute; margin:0; right:80px; top:8px; }
	.login_box a { font-size:11px; padding:5px 15px; }
	.login-dropdown { top:32px; right:0; }
	.login-dropdown a { margin:0; float:none; padding:10px; font-size:12px; }
	.language { width:70%; margin:0 80px 0 0; text-align:right; }
	.language a { padding:0 4px; }
	.language a:last-child {padding:0 0 0 4px;}
	.advertising-process .left { width:90%; padding:5%;}
	.advertising-process .right { width:100%;}
	.advertising-process .left .content h1 { font-size:28px; line-height:34px; }
	.advertising-process .left .content { padding:10%; }
	.advertising-process .right li { padding:5%; }
	.advertising-process .right li.goal-reach .icon, .advertising-process .right li.target .icon, .advertising-process .right li.manage-campaign .icon, .advertising-process .right li.reporting-tracking .icon { margin:0 0 10px 0; width:100%; }
	.advertising-process .right li .content { padding:0; text-align:center; }
	.advertising-process .right li h2 { font-size:18px; }
	#tabs ul { margin:10px 10%; }
	#tabs ul li {width:100%; margin:0 0 10px 0; }
}
@media (max-width: 360px){
	#team .img.hover .overlay { height: 35%; }
	.post-list { width:90%; }
}